html{
    margin: 50PX;
    font-family: 'Poppins', sans-serif;
   }

h1{
    text-align: center;
    color: red;
    text-underline-position: below;
}

p{
    color : "#3d7897";
    font-family: Arial, Helvetica, sans-serif;
 text-align: justify;
 font-Size: "30px";
 
  line-Height: "25px";
}
